* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;    
}

h1{
    text-align: center;
}

#filmesPopulares, #filmesEncontrados{
    margin-top:20px;
}

#rowFilmesPopulares, #rowFilmesEncontrados{
    margin-top: 20px;
}

#divBotaoFilmesPopulares{
    display:flex;
    justify-content: flex-end;    
}

@media screen and (max-width:989px) {
    #divBotaoFilmesPopulares{
        justify-content: center;    
    }
}

.filmesPopularesDivCards,.filmesEncontradosDivCards{
    margin-bottom:20px;
}

#btnCarregarMaisFilmesPopulares{
    margin-top:20px;
    margin-bottom:20px;
}

.copyrightDiv{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

.copyrightDiv>p{
margin-top:15px;
}

input::placeholder{
    font-style: italic;
}